{% load static %}
{% comment %} <footer class="container-fluid bg-danger text-white p-2 mt-5">
   <div class="mt-5">
    <img src="{% static 'core/images/Group3590.png' %}" class="rotete" height=110px left: 30px; width=500px  alt="">
    <div class="text-center">
        <i class="fa-brands fa-facebook-f m-2 fa-lg"></i>
        <i class="fa-brands fa-instagram m-2 fa-lg"></i>
        <i class="fa-brands fa-youtube-square m-2 fa-lg"></i>
        <i class="fa-solid fa-envelope-dot"></i>

    </div> {% endcomment %}
    {% comment %} <div class="">       {% endcomment %}
        {% comment %} <div class="text-end text-white m-0 fa-lg">      
        <i class="fa-brands fa-facebook-f m-2 fa-lg"></i><small>gaikwadvinayak924@gmail.com</small></i>

    </div>
   </div> {% endcomment %}
  
    {% comment %} <img src="{% static 'app/images/payment.png' %}" alt="" srcset="" class="img-fluid" height="2px"> {% endcomment %}
{% comment %} </footer> <!-- End Footer --> {% endcomment %}

{% comment %} 
<div class="">
    <footer class="container-fluid bg-danger text-white p-2 mt-5">
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'core/images/Group3590.png' %}" class="rotete" height=110px left: 30px; width=500px  alt="">
    <div class="text-center">
        <i class="fa-brands fa-facebook-f m-2 fa-lg"></i>
        <i class="fa-brands fa-instagram m-2 fa-lg"></i>
        <i class="fa-brands fa-youtube-square m-2 fa-lg"></i>
        <i class="fa-solid fa-envelope-dot"></i>

    </div>
       <div class="col-sm-4">
           <div class="text-center">gaikwadvinayak924</div>
       </div>
       
</footer> 
</div> {% endcomment %}


<div class="">
    <footer class="container-fluid bg-danger text-white p-2 mt-5">
    <div class="row">
      <div class="col-sm pt-3">
        <img src="{% static 'core/images/Hgih copy right.png' %}" class="rotete" height=150px left: 30px; width=400px  alt="">
    <div class="text-center">
        <i class="fa-brands fa-facebook-f m-2 fa-lg"></i>
        <i class="fa-brands fa-instagram m-2 fa-lg"></i>
        <i class="fa-brands fa-youtube-square m-2 fa-lg"></i>
        <i class="fa-solid fa-envelope-dot"></i>

    </div>
      </div>
      <div class="col-sm pt-5 p-4 bg-danger">
        
      </div>
      <div class="col-sm bg-danger">
        <p class="pt-5 "><i class="fa-solid fa-envelope"></i> teamhgih@gmail.com</p>
        <p><i class="fa-solid fa-address-book"></i>  9156366318</p>
        <p><i class="fa-solid fa-location-dot"></i>  305, niche facade, Viman Nagar, near Dr. Lal pathlabs, Pune 411014</p>
        <a href="{% url 'termsandcondition' %}" class="text-white"><button type="button" class="btn btn-outline-light">terms & condition</button></a>
      </div>
    </div>
</footer> 

  </div>

{% comment %} 
<div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Ghaziabad</span> Delhi
            </p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 74**9**258</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
        </div> {% endcomment %}